@charset "utf-8";

@import "../../../node_modules/bulma/bulma.sass";

// Custom CSS - Bulma Overrides

// Modules - mostly contains variables, mixins and functions.
@import "modules/colors";

// Partials - components like buttons, header, footer, typography
@import "partials/typography";

@import "partials/layout";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


 




.globalBackground {
  background-color: rgb(37, 36, 36);
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  width: 100;
  height:auto;
  top: 0;
  left: 0;
  position:static;
  
}

.viewBox {
  width:1000px;
  height:auto;
  background-color: rgb(37, 36, 36);
  display: block;
  margin: auto;
  border-style:solid;
  border-color: rgb(138, 137, 137);
  border-width: thin;
  
  
  
}

.navLinks{
  display: flex;
  align-items: right;
  margin-left: auto;
  margin-right: 2%;
}

.alingElementNav{
  display: flex;
  width: 100%;
  align-items: center;
  background-color: grey;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0.5;

}

.nav-logo{
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0.4rem;
  width: 90px;
  height: auto;
 }

 .alingSearchBar {
  display: flex;
  align-items: left;
  margin-left: 3%;
  width: 35%;
}

.userDropDown{
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0.4rem;
  width: 50px;
  height: auto;
  border-radius: 50%;
  
 }

 .userDropDown img :hover{
   opacity: 0.5;
 }

 .landing-background{
   background-size: cover;
   background-image: url('../img/background.jpg');
   min-width: 100%;
   min-height: 100%;
   width: 100;
   height:auto;
   position: fixed;
   top: 0;
   left: 0;
   background-attachment: fixed;
 }

 .landingLogo {
  margin-bottom: 5%;
  margin-top: 5%;
  display: grid;
  justify-content: center;
  text-align: center;
}

.landing-text{
  color: white;
  text-align: center;
}

.popup-box{
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: rgb(37, 36, 36);
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  text-align: center;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.new-zealand-map{
  margin-bottom: 5%;
  margin-top: 5%;
  display: grid;
  justify-content: center;
  text-align: center;
  height: 1200px;
  width: auto;
  position: absolute;
}

.canterbury{
  margin-bottom: 5%;
  margin-top: 5%;
  display: grid;
  justify-content: center;
  text-align: center;
  height: 1200px;
  width: auto;
  position: absolute;
  opacity: 1.0;
  
}

.canterbury:hover {
  opacity: 0.5;
}

.wellington{
  margin-bottom: 5%;
  margin-top: 5%;
  display: grid;
  justify-content: center;
  text-align: center;
  height: 1200px;
  width: auto;
  position: absolute;
  opacity: 1.0;
  
}

.wellington:hover{
  opacity: 0.5;
}

svg path{
  fill: #7c7c7c;
  opacity: 1.0;
}

svg path:hover{
  opacity: 0.5;

}

svg path .canterbury{
  fill: #7c7c7c;
  opacity: 1.0;
}

svg rect{
  color: red;
  background-image: url('../img/pin.jpg');
  
}




.cole {
  text-align: center;
  justify-content: center;
}


.tooltip{
  position: relative;
  display:inline-block;
  
}

.Region-Header{
  text-align: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position:absolute;
  z-index: 1;
}


.UserInfoForm{
  background-color: rgb(85, 85, 85);
  box-shadow: var(--shadow);
  display: flex;
  border: solid 0.5px rgb(138, 137, 137);
  grid-template-columns: repeat(2, 1fr);
  margin: 5% 10%;
  border-radius: 25px;
  max-width: 90rem;
  text-align: left;
  // max-height: 80vh;
}

.cf4a {
  position:relative;
  height: 969px;
  width: 1932;
  margin:0 auto;
  overflow: hidden;

}

.cf4a img {
  -webkit-animation-name: cf4FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 15s;
  -moz-animation-name: cf4FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 15s;
  -o-animation-name: cf4FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 15s;
  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 100s;
}

.cf4a img {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  6% {
    opacity:1;
  }
  7% {
    opacity:0;
  }
  85% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.cf4a img:nth-of-type(1) {
  animation-delay: 156s;
}
.cf4a img:nth-of-type(2) {
  animation-delay: 142s;
}
.cf4a img:nth-of-type(3) {
  animation-delay: 120s;
}
.cf4a img:nth-of-type(4) {
  animation-delay: 108s;
}
.cf4a img:nth-of-type(5) {
  animation-delay: 96s;
}
.cf4a img:nth-of-type(6) {
  animation-delay: 84s;
}
.cf4a img:nth-of-type(7) {
  animation-delay: 72s;
}
.cf4a img:nth-of-type(8) {
  animation-delay: 60s;
}
.cf4a img:nth-of-type(9) {
  animation-delay: 48s;
}
.cf4a img:nth-of-type(10) {
  animation-delay: 36s;
}
.cf4a img:nth-of-type(11) {
  animation-delay: 24s;
}
.cf4a img:nth-of-type(12) {
  animation-delay: 12s;
}
.cf4a img:nth-of-type(13) {
  animation-delay: 0;
}

.testNav {
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  transition: .5s;
  z-index: 9;
  text-align: center;
  
 
  
}

.testNav .box {
  display: flex;
  opacity: 0.5;
  width: 100%;
  height: 100px;
  margin-left: 0;
  margin-top: 0;
  float: left;
  color: #7c7c7c;
  z-index: 9;
  position: relative;
}



.testLogo {
  width: 300px;
  height: auto;
 justify-content: center;
 z-index: 99;
}

.courses-button {
  width: 100px;
  height:auto;
  position: relative; 
  display: inline;
  float: left;
}

.courses-button .bottom {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.courses-button:hover .bottom {
  display: inline;
}

.signin-button {
  width: 100px;
  height:auto;
  position: relative; 
  display: inline;
  float: left;
}

.signin-button .bottom {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.signin-button:hover .bottom {
  display: inline;
}

.register-button {
  width: 100px;
  height:auto;
  position: relative; 
  display: inline;
  float: left;
}

.register-button .bottom {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.register-button:hover .bottom {
  display: inline;
}

.profile-button {
  width: 100px;
  height:auto;
  position: relative; 
  display: inline;
  float: left;
}

.profile-button .bottom {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.profile-button:hover .bottom {
  display: inline;
}

 .homeText {
  text-align: center;
  width: 400px;
  height: auto;
  top: 50%;
  left: 40%;
  transform: translate(0, -50%);
  position: absolute;
  background: transparent;
  border: white;
  border-style: solid;
  z-index: 99;
  margin: -35px 0 0 --35px;
  padding: 10px;

}

.homeText h1 {
  color: white;
}
